<section class="blog" id="blog">
  <div class="blog__wrapper">
    <h2 class="blog__title">What you are looking for</h2>
    <h3 class="blog__subtitle">We provide bespoke solutions</h3>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
      laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?
    </p>
    <button class="button blog_button" type="button">Read More</button>
    <div class="blog__box-img">
      <picture>
        <source
          srcset="./images/home/blog.webp 1x, ./images/home/blog@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x"
          src="./images/home/blog.jpg"
          class="blog__photo"
          alt="blog"
        />
      </picture>
    </div>
  </div>
</section>
